<footer class="navbar black navbar-static-top row" role="navigation">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="http://iamjustivy.com/img/RedTapeLogo1.png">
      </a>
      <div class="navbar-form navbar-right">

        <p>Copyright @redtapedesign</p>
      </div>
  </div>
</footer>