<div class="col-sm-12 col-md-4 col-lg-4 text-padding white">
	        			
	<h2 class="text-center spacing">DILLON COOPER x MAC MILLER</h2>
	<P class="spacing" >Some of these ﬁrst live shows with Mac and Wiz have been amazing.

	Having their support while building the rest of the vision for the project

	is more than a blessing.

	Tour life has Quick rye banana, lavash crumpet marble garlic panettone 

	sourdough bun cracker roll. Potato wholegrain sourdough, multigrain 

	bagel lavash biscuit. Spelt naan banana pita cracker, bun wholegrain 

	potato rye panettone multigrain. Panettone wholegrain scone hardtack. 

	Tortilla pumpernickel olive, pita croissant toast focaccia sourdough 

	matzo cracker marble crumpet corn. Sourdough soda pumpernickel 

	biscuit wheat ciabatta.

	Pita banana croissant biscuit olive muﬃn focaccia sourdough scone 

	corn potato bagel pumpernickel lavash rye. Ciabatta panettone cracker, 

	roll bagel tortilla naan quick spelt pumpernickel garlic. Matzo crumpet 

	muﬃn pumpernickel spelt corn. Toast biscuit banana pumpernickel 

	scone ciabatta roll panettone matzo wheat sourdough pita olive.
	</P>
	
	<button type="button" class="btn btn-hover btn-block">READ MORE</button>
	
</div>