<div class="container-fluid">
  <div class="row invite text-center text-padding gray">
    <p>WE ARE CHANGING THE WAY MUSICIANS USE THE WEB. REQUEST AN INVITE BELOW.</p>
    <div class="invite-form">
    	 <form class="" role="form"> 
              
        	<div class="form-group col-sm-8 col-md-6 col-lg-6  col-sm-offset-2 col-md-offset-2col-lg-offset-2">
              	<input type="email" class="form-control" id="email" placeholder="Enter your email here">
            </div>
              
            <div class="form-group col-sm-2 col-md-2 col-lg-2">
              	<button type="submit" class="btn btn-default btn-lg">REQUEST INVITE</button>
            </div>


              <span id="success" class="text-success">thank you for signing up!</span>
              <span id="error" class="text-warning">you weren't signed up!</span>

            </form>
    </div>
  </div>
</div>