<div class="container-fluid">
	<div class="row black text-center">
		<div class="col-sm-12 col-md-12 col-lg-12 gram">
			<div class="instagram text-padding">
				</div>

				<h3>FOLLOW <a href="http://instagram.com/redtapedesign" target="_blank;">@REDTAPEDESIGN</a> ON INSTAGRAM</h3>
		</div>
	</div>
</div>