<div class="col-sm-12 col-md-4 col-lg-4">
	<img  alt="..." width="100%" src="images/asap_rocky.jpg">
	<div class="buy col-xs-12  col-sm-12 col-md-12 col-lg-12 text-center">
	<p><a class="btn" role="button" href="https://itunes.apple.com/us/album/long.live.a$ap/id581997129" target="_Blank"><img   src="images/itunes.png"  alt="Responsive image"></a></p>
	</div>
</div>