<div class="col-sm-6 col-md-6 col-lg-6 text-padding" >
	<h3 class="spacing">annuit 5 grey <small>$104</small></h3>
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h5>size</h5>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 spacing">
			<select  class="selectsite" data-container="body" data-animation="true" data-trigger="hover" data-toggle="popover" data-selector="true" data-placement="right">

                <option selected="selected" >Small</option>
            
                <option >Medium</option>
            
                <option>Large</option>
            
                <option>X Large</option>
             </select>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 spacing">
			<h5>description</h5>
			<h6>cotton / poly printed fleece</h6>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 spacing cart">
			<button type="button" class="btn btn-buy"><span class="glyphicon glyphicon-shopping-cart"></span> ADD TO CART</button>
			<a href=""><img src="images/check_03.png"></a>
		</div>
</div>