<div class="col-sm-6 col-md-6 col-lg-6 text-center text-padding product">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 spacing">
			<img src="images/sweatshirt_03.png">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<img src="images/smallshirt_03.png">
			<img src="images/smallshirt_03.png">
		</div>
	</div>
</div>