<div class="col-sm-12 col-md-4 col-lg-4 text-center white">
	<img width="100%"  src="images/sweater.png">
	<h2>ANNUIT 5 GREY</h2>
	<div class="shirt_buy col-xs-12  col-sm-12 col-md-12 col-lg-12 text-center">
		<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span>BUY NOW</button>&nbsp;
			<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-right"></span>MORE</button>
	</div>
</div>
