<div class="col-sm-12 col-md-4 col-lg-4">
	<div class="spotify black sc" style="padding-bottom: 99.3%;margin-top: -13px;">
      <p>
     <iframe  class="embeds"src="https://embed.spotify.com/?uri=spotify:track:7zzyrYnZIfvYAGwl7lRb7X" width="422" height="420" frameborder="0" allowtransparency="true"></iframe>
      </p>
    </div>
</div>