<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-4 col-lg-4">
			<img width="100%" src="images/instapics_02.jpg">
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4 sc">
			<iframe class="soundcloud"  scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/93297040&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4">
			<img width="100%" src="images/instapic_04.jpg">
			<p class="itunes_title">listen to the new single careless</p>
			<div class="itunes_buy col-xs-12  col-sm-12 col-md-12 col-lg-12 text-center">
				<button type="button" class="btn btn-hover">LISTEN NOW <span class="glyphicon glyphicon-play"></span></button>&nbsp;
					<button type="button" class="btn btn-default">BUY ON ITUNES</button>
			</div>
		</div>
	</div>
</div>