<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-8 wrapper-with-intrinsic-ratio">
			<iframe class="youtube-player" type="text/html" src="https://www.youtube.com/embed/PDmTXM7vJ_g?version=3;hl=en_US;rel=0;modestbranding=1;autohide=1;showinfo=0;controls=0;" frameborder="0" scrolling="no" allowfullscreen></iframe>
		</div>
		<div class="col-sm-12 col-md-4 col-lg-4">
			<img width="100%" src="http://distilleryimage8.ak.instagram.com/51f3f184ad2511e3a80a0a154a02c3a8_8.jpg">
		</div>
	</div>
</div>