<div class="table-responsive">
		<table class="table col-sm-10 col-md-10 col-lg-10">
			<caption><h1>TOUR</h1></caption>
			<thead>
				<tr>
					<th>DATE</th>
					<th>LOCATION</th>
					<th>VENUE</th>
					<th>TICKETS</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>4/2/14</td>
					<td>San Francisco</td>
					<td>A Millie</td>
					<td><a href="" class="active">buy tickets</a></td>
				</tr>
				<tr>
					<td>4/2/14</td>
					<td>San Francisco</td>
					<td>A Millie</td>
					<td><a href="">buy tickets</a></td>
				</tr>
				<tr>
					<td>4/2/14</td>
					<td>San Francisco</td>
					<td>A Millie</td>
					<td><a href="">buy tickets</a></td>
				</tr>
			</tbody>		
		</table>
	</div>
</div>