<div class="container-fluid">
	<div class="row">
		<div class="ytplayer">
            <iframe class="youtube-player" type="text/html"  src="https://www.youtube.com/embed/PDmTXM7vJ_g?version=3;hl=en_US;rel=0;modestbranding=1;autohide=1;showinfo=0;controls=0;" frameborder="0" scrolling="no" allowfullscreen></iframe>  
		</div>
	</div>
</div>