<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 post-single black jumbotron text-padding itunes">
	        <div class="col-sm-12 col-md-6 col-lg-5">
		        <img  class="img-responsive" width="100%" src="images/rick-ross.jpeg"  alt="Responsive image">
		        </div>
		        <div class="col-sm-12 col-md-6 col-lg-6 text-padding text-center">
		            <h1>#mastermind</h1>
		            <h1>album available now</h1>
		            <p><a class="btn" role="button" href="https://itunes.apple.com/us/album/mastermind-deluxe-version/id816474784" target="_Blank"><img   src="images/itunes.png"  alt="Responsive image"></a></p>
	        </div> 
	    </div>
	</div>
</div>