<div class="container-fluid">
	<div class="row ak_music">
		<div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-6 col-md-offset-7 col-lg-offset-7 text-padding text-center">
			<div id="ak_music_logo"></div>
			<h4>This Girl Is On Fire</h4>
			<h4>Available Everywhere</h4>
			<p><a class="btn" role="button" href="https://itunes.apple.com/us/album/girl-on-fire/id572471967" target="_Blank"><img   src="images/itunes.png"  alt="Responsive image"></a></p>
		</div>
	</div>
</div>