<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 post-sc jumbotron">
	        <div class="col-sm-12 col-md-6 col-lg-5  col-lg-offset-1 sc-pic">
		        <img class="" width="100%" src="https://i2.sndcdn.com/artworks-000068978023-ql7smf-t200x200.jpg?435a760" class="img-responsive" alt="Responsive image">
		        </div>
		        <div class="col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 sc-text">
		            <p>New Single</p>
		            <h1>Check me out at sxsw <a href="#">Shop></a> </h1>
		            <p class="no-margin"><a href="#">New Single</a></p>
	        </div> 
	    </div>
	</div>
</div>