<nav class="navbar navbar-inverse navbar-static-top row" role="navigation">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
    <div class="navbar-collapse collapse">
  <ul id="menu-main-menu">
		<li class="leftmenu"><a href="">about</a></li>
    <li class="leftmenu"><a href="">that</a></li>
    <li class="leftmenu"><a href="">life</a></li>
    <a href="#"><span class="nogo">MUI</span></a>
    <li class="rightmenu"><a href="">about</a></li>
    <li class="rightmenu"><a href="">that</a></li>
    <li class="rightmenu"><a href="">life</a></li>
  </ul>
   </div>
</nav>