<nav class="navbar navbar-inverse navbar-static-top row" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
     
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <div class="logo">Artist Name</div>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-form navbar-right socials">

        <a href="https://www.facebook.com/redtapedesign" target="_blank" ><i class="ss-icon">facebook</i></a>
        <a href="https://twitter.com/RedTapeDesign" target="_blank" ><i class="ss-icon">twitter</i></a>
        <a href="http://instagram.com/RedTapeDesign" target="_blank" ><i class="ss-icon">instagram</i></a>
        <a href="http://www.youtube.com" target="_blank" ><i class="ss-icon">youtube</i></a>
        <a href="https://soundcloud.com/itsjordanbrown" target="_blank" ><i class="ss-icon">soundcloud</i></a>

      </div>
    </div><!--/.navbar-collapse -->
  </div>
</nav>